:root {
    --primary-color: rgba(51, 64, 68, 0.473);
    --overlay-color: #996740;
    --menu-speed: 0.7s;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    
}

#toTop {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 8px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #99674077;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    width: 3.8rem;
}

#toTop:hover {
    background-color:#996740;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 2.5rem;
    width: 2.5rem;
}


.navHover :hover {
    color: #996640 ! important;
    font-weight: bold #996640;
    text-transform: uppercase;
}

.heading {
    position: absolute;
    z-index: 1;
    bottom: 6vw;
    max-width: 60% !important;
    background-color: rgba(255, 255, 255, 0.705);
    font-size:2vw;
    
}

.underLineH{
    color: #996640;
    border-bottom-style: solid;
    width: 44vw;
    margin-bottom: 14px;
}

.underLine{
    color: #996640;
    border-bottom-style: solid;
    width: 70vw;
    margin-bottom: 14px;
}



.headFont{
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 6px;
    font-size:1.6vw;
    
}

/* div p{
    font-size:1vw;
} */

.tabFont{
    font-size:1.4vw;
}

.headFont i{
    color: whitesmoke;

}

.angebot {
    color: #996740;
    font-size:3vw;
    margin-top: 0.2rem;
}


.titlep {
    font-size:2vw;
    color: black;
}


.adress {
    font-size:3vw;
    color: #996740;
}


.tableFirst {
    color: white;
    background-color: #996740;
    width: 100%;
}


.map-container {
    overflow: hidden;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #996640; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
    }
    
}

@media (max-width: 993px) {
div p{
    font-size:2.4vw !important;

    }

    .tabFont{
        font-size:2.4vw !important;
    }
    .navbar-toggler-icon {
    
        font-size:3vw !important;
        background-size: 50% 50%;
    }

    #auth{
        width: 50%;
    }
}

